In [1]:
#Task 1b: Which crops need least water?

In [2]:
import pandas as pd
import numpy as np

In [3]:
from pandas import DataFrame

In [4]:
from pandas.errors import EmptyDataError

In [5]:
db = pd.DataFrame(pd.read_csv('New_2016.csv', sep=';', header=1))

In [6]:
db.head()

,Country Name,Country FAO Code,Country ISO2,Item Name,Item FAO Code,Item Category,Unit of Measure,2016
0,Austria,11,AT,Apples,515,Fruits,m3/ton,251.289993
1,Austria,11,AT,Asparagus,367,Vegetables,m3/ton,2152.719971
2,Austria,11,AT,Carrots and turnips,426,Vegetables,m3/ton,88.053802
3,Austria,11,AT,Cherries,531,Fruits,m3/ton,687.744019
4,Austria,11,AT,"Chillies and peppers, green",401,Vegetables,m3/ton,49.357101

In [7]:
db.describe()

       Country FAO Code  Item FAO Code          2016
count        225.000000     225.000000    225.000000
mean         148.066667     401.800000    585.799797
std           71.536517     139.993559   1761.778390
min           11.000000      56.000000      0.000000
25%           84.000000     372.000000     82.842598
50%          150.000000     401.000000    159.078003
75%          203.000000     521.000000    519.427002
max          272.000000     560.000000  21696.099609

In [8]:
db.shape

(225, 8)

In [9]:
db.dtypes

Country Name         object
Country FAO Code      int64
Country ISO2         object
Item Name            object
Item FAO Code         int64
Item Category        object
Unit of Measure      object
2016                float64
dtype: object

In [ ]:
#Task 1b: Which crops need least water?

In [10]:
mask = db.loc[:,'2016']>5000
db.loc[mask,'2016']=np.nan

In [11]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[0]

'Tomatoes'

In [12]:
db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)

Item Name
Tomatoes                         68.395452
Cucumbers and gherkins           83.259040
Chillies and peppers, green      94.411050
Carrots and turnips              97.230101
Lettuce and chicory             116.846334
Potatoes                        144.675726
Mushrooms and truffles          148.780370
Pumpkins, squash and gourds     288.230651
Apples                          365.470595
Peaches and nectarines          462.317270
Pears                           470.233466
Grapes                          566.830861
Maize                           798.215393
Asparagus                      1081.590141
Cherries                       1627.456066
Name: 2016, dtype: float64

In [13]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[1]

'Cucumbers and gherkins'

In [14]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[2]

'Chillies and peppers, green'

In [15]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[3]

'Carrots and turnips'

In [16]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[4]

'Lettuce and chicory'

In [17]:
top_item = db.groupby('Item Name')['2016'].mean().sort_values(ascending=True)
top_item.index[5]

'Potatoes'